*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url("images/YONG.jpg ");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.heading .img{
    background: url("images/swunlogo.jpg");
    width: 461px;
    height: 132px;
    float: left}
.heading .audio{
    font-family: 宋体;
    color: #96e7ff;
    font-size: 40px;
    float: right;
}
.search{
    height: 100px;
 text-align: center;
    margin-left: 40px;
    margin: 10px;
}
form input{
    height: 50px;
    size: 100px;
}
.part1{
    margin: 0 auto;
    width: 60%;
    height: 200px;
    background-color: rgba(0,0,0,0.4);

}
.part1 .box a{
    color: #96e7ff;
    font-size: 20px;
    display: inline-block;/*使元素变成行内元素*/
    width: 14%;
    height: 35px;
    line-height: 35px;
    overflow: hidden;/*如果溢出裁剪内容 - 不提供滚动机制*/
    white-space: nowrap;/*规定文本不换行*/
    margin: 10px 1%;
    text-align: center;
}
.part1 .box .sample{
    box-shadow: 1px 1px 5px #ccc5c5;
}
.part1_heading{
    font-family: 宋体;
    font-size: 30px;
    background-color: #ff2a34;
}
a:link,a:visited{
    font-weight: bold;
    color: #96e7ff;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}
.part2{
    margin: 0 auto;
    width: 60%;
    height: 300px;
    background-color: rgba(0,0,0,0.4);
}
.part2_heading{
    font-family: 宋体;
    font-size: 30px;
    background-color: #ff2a34;

}
.part2 .box a{
    color: #96e7ff;
    font-size: 20px;
    display: inline-block;
    width: 14%;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px 1%;
    text-align: center;
}
.part2 .box .sample{
    box-shadow: 1px 1px 5px #ccc5c5;
}
.part3{
    margin: 0 auto;
    width: 60%;
    height: 200px;
    background-color: #ffffff;
    background-color: rgba(0,0,0,0.4);
}
.part3_heading{
    font-family: 宋体;
    font-size: 30px;
    background-color: #ff2a34;
}
.part3 .box a{
    color: #96e7ff;
    font-size: 20px;
    display: inline-block;
    width: 14%;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px 1%;
    text-align: center;
}
.part3 .box .sample{
    box-shadow: 1px 1px 5px #ccc5c5;
}
.foot{
    padding-top: 20px;
    text-align: center;
    font-size: 10px;
}