*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url("images/YONG.jpg ");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.heading .img{
    background: url("images/swunlogo.jpg");
    width: 461px;
    height: 132px;
    float: left}
.heading .audio{
    font-family: 宋体;
    color: #96e7ff;
    font-size: 40px;
    float: right;
}
.search{
    height: 100px;
 text-align: center;
    margin-left: 40px;
    margin: 10px;
}
form input{
    height: 50px;
    size: 100px;
}
.part1{
    margin: 0 auto;
    width: 60%;
    height: 200px;
    background-color: rgba(0,0,0,0.4);

}
.part1_heading{
    font-family: 宋体;
    font-size: 50px;
    background-color: #ff2a34;
}
.box{
    font-size: 35px;

}
ul{
    margin-left: 20px;

    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
a:link,a:visited{
    font-weight: bold;
    color: #96e7ff;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}
a:hover,a:active{
    color: darkgray;
}
li{
    width: 30px;
    padding-left: 20px;
    display: inline;

}
.part2{
    margin: 0 auto;
    width: 60%;
    height: 200px;
    background-color: rgba(0,0,0,0.4);
}
.part2_heading{
    font-family: 宋体;
    font-size: 50px;
    background-color: #ff2a34;

}
.part3{
    margin: 0 auto;
    width: 60%;
    height: 200px;
    background-color: #ffffff;
    background-color: rgba(0,0,0,0.4);
}
.part3_heading{
    font-family: 宋体;
    font-size: 50px;
    background-color: #ff2a34;
}
.foot{
    padding-top: 20px;
    text-align: center;
    font-size: 10px;
}